<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to My Website, Mani</h1>
    <p>
      You have successfully signed up to example.com,
      your username is: manikandan.<br>
    </p>
    <p>
      To login to the site, just follow this link: www.youtube.com.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>